* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: #000;
}
.panel {
    width: 300px;
    height: 300px;
   
}
.modal {
    position: absolute;
    transition: all .5s;
}
#startScreen {
    height: 300px;
    width: 300px;
    background: url('../img/intro.png') no-repeat;
    background-size: cover;
    border-radius: 0;
    z-index: 1000;
}
#overScreen {
    height: 300px;
    width: 300px;
    background: url('../IMG/win.png') no-repeat;
    background-size: cover !important;
    border-radius: 0;
    opacity: 0;
    z-index: -1;
}
#container {
    position: relative;
    margin: 100px auto;
    background-color: #000;
    border: outset rgb(255, 17, 0);
    box-shadow: 2px 2px 50px rgba(255, 0, 0, 0.5);
}
.square {
    width: 90px;
    height: 90px;
    /* para manipular  as peças com js no container é importante o atributo absolute */
    position: absolute;
    background-color: silver;
    border-radius: 10px;
    transition: left .5s,top .5s;
    font: 70px Comic Sans MS; 
    color:#ffffff;
    text-align: center;
    background-color: #000;
}

.square:hover {
    border: inset;
    border-radius: 10px;
    
}
h1 {
    font: 50px Comic Sans MS;
    color: #ffffff;
    /*position: absolute;*/
    text-align: center;
    text-shadow: 2px 2px 100px rgba(0,255,0,0.7);
    top: 0;
    margin-left: auto !important;
    margin-right: auto !important;
}